.stance{
	animation-name: stance;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
}

.run{
	animation-name: run;
	animation-duration:0.6s;
	animation-iteration-count: infinite;
}

@keyframes stance{
	0%{
		content: url('deidara/0.png');
	}
	33%{
		content: url('deidara/1.png');
	}
	67%{
		content: url('deidara/2.png');
	}
	100%{
		content: url('deidara/3.png');
	}
}

@keyframes run{
	0%{
		content: url('deidara/4.png');
	}
	20%{
		content: url('deidara/5.png');
	}
	40%{
		content: url('deidara/6.png');
	}
	60%{
		content: url('deidara/7.png');
	}
	80%{
		content: url('deidara/8.png');
	}
	100%{
		content: url('deidara/9.png');
	}
}